body{
    margin: 0;
	padding: 0;
	border: 0;
}
#mainHeader{
    height: 150px;
}
nav ul {
    margin: 0; 
    padding: 4px; 
   }
 nav ul li {
    display: inline; 
    margin-right: 5px; 
    border: 1px solid #000; 
    padding: 3px;
    background-color:aliceblue;

   }
main{
    width: 65%;
    float:left;
    height: 100%
}
#more{
    width: 35%;
    float: right;
    height: 100%;
}
#more img{
    width: 350px;
}
article{
    margin-right: 5px; 
     border: 1px solid #000; 
     padding: 3px; 
    background-color:aliceblue;
}
